body{
  background-image: url(spring-background-4039218_1280.jpg);
  background-size: 100% 100%;
}
header h1 {
  font-size: 30px;
  font-family: fantasy;
}
header span {
  color: #ff2b95;
}

.menu-top li {
  float: left;
  width: 20%;
  font-size: 16px;
  list-style: none;
  font-family: 'arial unicode ms';
  color: #fff;
}
.txt-contant{
  margin:10% 20%;
  background-color: #fff4fa
}
.txt-contant p{
  font-family: monospace;
}
